.board_item{
    margin-top: 10px;
    border-radius: 10px;
    background-color:rgb(152, 166, 185);
    height: 300px;
    width: 100%;
    padding: 10px;
}
.board_img{
    background-color: white;
    width: 100%;
    height: 200px;
}
.board_content{
    padding: 10px;
}
.title img{
    width: 35px;
}
.title{
    padding: 1.5px 0px;
    border: solid 1px rgb(152, 166, 185);
    border-left: none;
    border-right: none;
    font-size: 20px;
    margin: 5px 0px 0px 40px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.btn_area{
    font-size: 13px;
    text-align: right;
}
.btn_area button{
    padding: 3px 10px;
    width: 120px;
    border: solid 1px  rgb(113, 131, 147);
    background-color: white;
    border-radius: 5px;
    color: rgb(88, 103, 116);
    margin-right: 5px;
}
.service_name{
    
}
.onetTothree{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.two{
    margin: 20px 0px 0px 40px;
    display: grid;
    grid-template-columns: 150px 1fr;

}
.margin_con{
    padding: 20px 0px 20px 40px !important;

}
.board{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.comment_info_area{
    display: flex;
    gap: 10px;
}
.comment_btn_area{
    display: flex;
    gap: 10px;
}
.cocComment{
    margin-left: 30px;
}
#board_area{

}
.margin_40{
    margin-right: 40px;
}
.board_scroll{

    height: 100vh;
    overflow: auto;
}
a{
    text-decoration: none;
}
.board_grid{
    display: grid;
    grid-template-columns: 1fr 50px 50px;
}
.btn_css{
    padding: 3px 10px;
    width: 120px;
    border: solid 1px rgb(113, 131, 147);
    background-color: white;
    border-radius: 5px;
    color: rgb(88, 103, 116);
    margin-right: 5px;
    font-size: 14px;
}
.small_span{
    color: #9b9b9b; font-size: 13px;
}