


.contents{
    text-align: center;
}
.title_wrapper{
    font-family: 'GangwonEduPowerExtraBoldA';
    padding: 70px 50px 30px 50px;
    font-size: 50px;
}
.menuList{
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 100px 10px 100px 10px 100px 10px 100px 1fr;
}
.menuList div button{
    background-color: rgb(152 166 186);
    border: none;
    margin: 5px 0px;
    color: white;
    width: 100%;
    padding: 3px 5px;
    border-radius: 5px;
}
.btn_op{

}



