.onetTothree{
    display: grid;
    grid-template-columns: 330px 1fr;
}
.content{
    width: 100%;
}
.project_item{
    border-radius: 12px;
    padding: 7px 10px;
    margin-top: 7px;
}
.project_item:hover{
    cursor: pointer;
    border-radius: 12px;
    background-color: rgb(242, 244, 247);
    border: solid 1px rgb(195, 204, 217);

}
.project_items{
    margin-top: 10px;
}
#project_contents{
    background-color: rgb(242, 244, 247);
    overflow: hidden !important;
    height: auto !important;
}
.bg_w{
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 0;
}
.content_title{
    margin-bottom: 10px;
}
.title3{
    font-size: 23px;
}
.title4{
    font-size: 18px;
}

.item_list{
    padding: 7px 10px;
    margin-top: 7px;
    border-radius: 12px;
}

.input_project{
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.project_div2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.project_div2 div button{
    text-align: right;
}
.input_project label{
    margin-right: 10px;
}
.input_project input{
    padding-left: 10px;
}
.three{
    display: flex;
    gap: 20px;
}
.border_blue_left{
    margin: 20px 0px 20px 40px !important;
    lex-basis: 330px;
    flex-grow: 0;
    flex-shrink: 0;
}
.scroller_wrapper{
    overflow: scroll;
}
.scroll{
    overflow: scroll;
    max-height: 55vh;
}
.not {
    height: auto !important;
}

.total_delete_btn,.total_update_btn{
    border: solid 1px rgb(113, 131, 147);
    color: rgb(88, 103, 116);
    width: 50px;
    border-radius: 5px;
    background-color: white;
}
.delete_item,.mid_delete_btn{
    background-color: rgba(255, 255, 255, 0);
    color: gainsboro;
    border: none;
}
.btn_op{
    background-color: rgb(152 166 186);
    border: none;
    margin: 5px 0px;
    color: white;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
input{
    width: 100% !important;
}