#user_info{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.822);
    border: solid 1px rgb(152, 166, 185);
}
#userImgWrapper img{
    width: 100%;
}
#userImgWrapper{
    margin: 20px;
}
.contentArea{
    background-color: white;
    height: 100vh;
}
.two_div{
    height: 100vh;
    position: fixed;
}
.border_blue{
    margin: 20px 40px 20px 40px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 2px 2px 10px #bababa;
    display: block;
    overflow: auto;
    height: 85%;
}
.user_two_div{
    display: grid;
    grid-template-columns: 100px 1fr;
}
#userInfo_area{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.oneToone{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.oneSpaceone{
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
}
