.div7{
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.div7 div{
    margin-left: 10px;
}
.calendar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 100vh;
}
.calendar div div{
    border-top: solid 1px gainsboro;
    border-right: solid 1px gainsboro;
    height: 5%;
}
.calendar_menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.calendar_btn{
    padding-top: 30px;
    text-align: right;
}
.calendar_btn button{
    padding: 3px 10px;
    width: 100px;
    border: solid 1px  rgb(113, 131, 147);
    background-color: white;
    border-radius: 5px;
    color: rgb(88, 103, 116);
    margin-right: 5px;
}